* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.container {
	margin: 1rem;
	padding: 1rem;
	font-size: large;
	font-weight: bolder;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-align: center;
	color: white;
	background-color: rgb(79, 170, 170);
	box-shadow: 0px 8px 15px 0px rgba(28, 6, 151, 0.3);
	border-bottom: 1x dotted wheat;
	border-radius: 8px;
}
.container>h1 {
	color: blue;
}
.grid-container {
	background-color: white;
	color: white;
	font-size: x-large;
	font-family: sans-serif;
	margin: 22px;
	display: grid;
	gap: 8px;
	grid-template-columns: repeat(4,1fr);
	/* grid-template-columns: 2fr 3fr 4fr 3fr; */
	/* grid-template-columns: 20% 30% 50%; */
	/* grid-template-columns: subgrid; no effect  */
	/* grid-template-columns: repeat(3, 2fr); */
	/* grid-template-columns: minmax(400px,auto); */
	/* grid-template-columns: auto; */
	/* grid-template-columns: max-content; */
	/* grid-template-columns: min-content; */
}
.grid-items {
	margin: 6px;
	padding-top: 6px;
	text-align: center;
	background-color: rgb(82, 82, 138);
	box-shadow: 0px 8px 15px 0px rgba(28, 6, 151, 0.3);
	border: 1px solid rgb(141, 141, 236), 1px solid rgb(106, 106, 235), 4px dotted rgb(4, 4, 184), 6px dashed rgb(11, 11, 58);
	border-radius: 6px 6px 12px 12px;
}
.grid-items:hover {
	box-shadow: 0px 8px 15px 0px rgba(40, 4, 243, 0.7);
}
.grid-items>h1 {
	color: dodgerblue;
	text-transform: uppercase;
	text-underline-position: below;
	text-decoration: 8px underline solid rgb(98, 0, 255);
}
.grid-items:nth-of-type(1) {
	background-color: rgb(11, 11, 63);
	grid-column: 1/span 2;
	/* grid-column-start: 2;
	grid-column-end: 4; */
}
.grid-items:nth-of-type(6) {
	background-color: rgb(39, 4, 22);
	grid-row: 2/span 2;
}
.grid-items:nth-of-type(7) {
	background-color: rgb(39, 4, 22);
	grid-column: 2/span 2;
}
p {
	padding: 8px;
}

/* Begining of the Grid-area (without naming items but with order placement of grid-items on the container)  */
.grid-container1 {
	background-color: rgb(111, 146, 211);
	color: white;
	margin: 20px;
	padding: 6px;
	display: grid;
	grid-template-columns: auto auto auto auto;
	gap: 10px;
}
.grid-items1 {
	border: 1px solid transparent;
	border-radius: 4px 4px 8px 8px;
	background-color: rgb(22, 20, 20);
	margin: 4px;
	padding: 4px;
}
.grid-items1:nth-of-type(1) {
	background-color: grey ;
	grid-area: 1 / 1 / span 3 /1;
}
.grid-items1:nth-of-type(3) {
	background-color: rgb(183, 183, 230);
	grid-area: 2 / 4 / 5 / span 1;
}
.grid-items1:nth-of-type(4) {
	background-color: rgb(65, 65, 175);
	grid-area: 1 / 2 / 3 / span 2;
}
.grid-items1:nth-of-type(5) {
	background-color: rgb(201, 182, 182) ;
}
.grid-items1:nth-of-type(8) {
	background-color: rgb(75, 75, 112);
	grid-area: 5 / 1 / 6 / span 4;
}
 /* This section explain the effect of applyinf the grid-template-ares with naming of items */

.grid-container2 {
	background-color: #2196F3;;
	font-size: auto;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	margin: 20px;
	gap: 20px;
	padding: 10px;
	display: grid;
	grid-template-areas:
	'header header header header'
	'nav main main aside'
	'nav footer footer footer';
	grid-template-columns: repeat(4, 2fr);
	grid-template-rows: auto auto auto auto;
	/* grid-template-columns: repeat(5,1fr); */
}
header, nav, main, aside, footer {
	background-color: rgba(255, 255, 255, 0.8);
	padding: 20px;
	color: black;
	text-align: center;
}
header {
	grid-area: header;
}
nav {
	grid-area: nav;
}
main {
	grid-area: main;
}
aside {
	grid-area: aside;
}
footer {
	grid-area: footer;
}

/* Media query for screens smaller than 576px */
@media screen and (max-width: 576px) {
	.grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
	.grid-items:nth-of-type(1) {
		background-color: rgb(11, 11, 63);
		grid-column: 1/span 1;
		/* grid-column-start: 2;
		grid-column-end: 4; */
	}
	.grid-items:nth-of-type(6) {
		background-color: rgb(39, 4, 22);
		grid-row: 1/span 1;
	}
	.grid-items:nth-of-type(7) {
		background-color: rgb(39, 4, 22);
		grid-column: 1/span 1;
	}
	
	/* MQ for grid-contaner1  */

  .grid-container1 {
    grid-template-columns: repeat(1, 1fr);
		grid-template-rows: auto;
  }
	.grid-items1 {
		grid-column: auto;
		grid-row: auto;
	}
	.grid-items1:nth-of-type(1) {
		background-color: grey ;
		grid-area: 1 / 1 / span 1 /1;
	}
	.grid-items1:nth-of-type(3) {
		background-color: rgb(183, 183, 230);
		grid-area: 1 / 1 / 2 / span 1;
	}
	.grid-items1:nth-of-type(4) {
		background-color: rgb(65, 65, 175);
		grid-area: 1 / 2 / 1 / span 1;
	}
	.grid-items1:nth-of-type(5) {
		background-color: rgb(201, 182, 182) ;
	}
	.grid-items1:nth-of-type(8) {
		background-color: rgb(75, 75, 112);
		grid-area: 1 / 1 / 2 / span 1;
	}
		/* MQ for grid-contaner2  */

		.grid-container2 {
			grid-template-columns: repeat(2, 1fr);
		}
}
/* Media query for screens smaller than 768px */
@media screen and (max-width: 768px) {
	.grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
	.grid-items:nth-of-type(1) {
		background-color: rgb(11, 11, 63);
		grid-column: 1/span 1;
		/* grid-column-start: 2;
		grid-column-end: 4; */
	}
	.grid-items:nth-of-type(6) {
		background-color: rgb(39, 4, 22);
		grid-row: 1/span 1;
	}
	.grid-items:nth-of-type(7) {
		background-color: rgb(39, 4, 22);
		grid-column: 1/span 1;
	}
	
	/* MQ for grid-contaner1  */

  .grid-container1 {
    grid-template-columns: repeat(2, 1fr);
  }
	.grid-items1:nth-of-type(1) {
		background-color: grey ;
		grid-area: 1 / 1 / span 2 /1;
	}
	.grid-items1:nth-of-type(3) {
		background-color: rgb(183, 183, 230);
		grid-area: 1 / 2 / 3 / span 1;
	}
	.grid-items1:nth-of-type(4) {
		background-color: rgb(65, 65, 175);
		grid-area: 1 / 2 / 1 / span 1;
	}
	.grid-items1:nth-of-type(5) {
		background-color: rgb(201, 182, 182) ;
	}
	.grid-items1:nth-of-type(8) {
		background-color: rgb(75, 75, 112);
		grid-area: 1 / 1 / 3 / span 2;
	}
		/* MQ for grid-contaner2  */

		.grid-container2 {
			grid-template-columns: repeat(2, 2fr);
			grid-template-rows: auto auto;
		}
}
/* Media query for screens smaller than 992px */
/* MQ for .container  */
@media (max-width: 992px) {
	.grid-container {
		grid-template-columns: repeat(4,1fr);
	}
	.grid-items:nth-of-type(1) {
		background-color: rgb(11, 11, 63);
		grid-column: 1/span 2;
		/* grid-column-start: 2;
		grid-column-end: 4; */
	}
	.grid-items:nth-of-type(6) {
		background-color: rgb(39, 4, 22);
		grid-row: 2/span 2;
	}
	.grid-items:nth-of-type(7) {
		background-color: rgb(39, 4, 22);
		grid-column: 2/span 2;
	}

		/* MQ for .container1  */

	.grid-container1 {
		grid-template-columns: auto auto auto auto auto;
	}
	.grid-items1:nth-of-type(1) {
		background-color: grey ;
		grid-area: 1 / 1 / span 3 /1;
	}
	.grid-items1:nth-of-type(3) {
		background-color: rgb(183, 183, 230);
		grid-area: 2 / 4 / 5 / span 1;
	}
	.grid-items1:nth-of-type(4) {
		background-color: rgb(65, 65, 175);
		grid-area: 1 / 2 / 3 / span 2;
	}
	.grid-items1:nth-of-type(5) {
		background-color: rgb(201, 182, 182) ;
	}
	.grid-items1:nth-of-type(8) {
		background-color: rgb(75, 75, 112);
		grid-area: 5 / 1 / 6 / span 4;
	}

	/* MQ for .container2  */
	.grid-container2 {
		grid-template-columns: repeat(5, 2fr);
		grid-template-rows: auto auto auto auto;
	}
}